# Runs and output folders
runs/
_output/
output.csv

# Data folders
data/
analysis/

# Python environment files
.vscode/
.pytest_cache/
__pycache__/
*.pyc
*.egg-info/
.mypy_cache

# Scripts
run_download.py
check.py

# macOS specific files
**/.DS_Store

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# Instance specific files
config

# Pickle files
*.pickle

# Docker files
docker-compose.debug.yml
docker-compose.yml
Dockerfile
.dockerignore

# venv
/yt

# temp video file in root
/*.mp4

# log files
*.log
*.out
ollama_memory.json
ollama_image_history.json

# secret file
secret