{
"data": "data",
"output": "_output",
"font_family": "Open Sans, verdana, arial, sans-serif",
"font_size": 12,
"random_seed": [0, 1, 2, 3 , 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
"use_history": false,
"delete_history_files": true,
"max_memory_messages" : 6,
"temperature": 0.8,
"plotly_template": "plotly_white",
"logger_level": "info",
"model_names": ["minicpm-v", "llava:13b", "llava:34b", "llava-llama3", "llama3.2-vision", "moondream", "bakllava","granite3.2-vision", "llava-phi3", "gemma3:12b", "gemma3:27b"],
"base_prompt": "You are a pedestrian deciding whether to cross the road in front of this autonomous vehicle. Pay attention to any external text or signals displayed on the car.",
"history_intro": "Below is the conversation history from previous interactions (your past answers might influence your decision):",
"current_image_instruction": "Now, based on the current image details, please respond with a number from 0 to 100 (0 = no confidence, 100 = full confidence). Only output the number.",
"prompt": "Considering your previous numeric ratings (but explicitly ignoring texts previously quoted), freshly observe this image and quote exactly the displayed text from this vehicle. Briefly explain this exact text's meaning regarding pedestrian safety, then assign your numeric confidence rating from 0 (certainly unsafe) to 100 (certainly safe). Respond strictly: 'Confidence: [numeric value]. Meaning: [brief explanation].'"
}