{
"data": "data",
"output": "_output",
"font_family": "Open Sans, verdana, arial, sans-serif",
"font_size": 12,
"random_seed": 42,
"use_history": true,
"true_history_files": false,
"max_memory_messages" : 6,
"temperature": 0.8,
"plotly_template": "plotly_white",
"logger_level": "info",
"model_names": ["gemma"],
"base_prompt": "You are a pedestrian deciding whether to cross the road in front of this autonomous vehicle. Pay attention to any external text or signals displayed on the car.",
"history_intro": "Below is the conversation history from previous interactions (your past answers might influence your decision):",
"current_image_instruction": "Now, based on the current image details, please respond with a number from 0 to 100 (0 = no confidence, 100 = full confidence). Only output the number.",
"prompt": "You are a pedestrian deciding whether to cross the road in front of this autonomous vehicle. Based only on what you see, respond with a number from 0 to 100 that reflects your confidence to cross safely. 0 = no confidence, 100 = full confidence. Only output a number."
}